server:
  port: 8081

spring:
  application:
    name: crm-service

  datasource:
    driver-class-name: org.postgresql.Driver
    password: 1234
    username: dev
    url: jdbc:postgresql://localhost:5432/crm

  sql:
    init:
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
      mode: always

  data:
    redis:
      host: localhost
      port: 6379

logging:
  file:
    name: logs/crm_service.log